/* form-border includes the form background, blur and border.
This is what the title and fields will sit on */
#form-border{
    position: absolute;
    width: 763px;
    height: 780px;
    background: rgba(18, 18, 25, 0.8);
    border: 7px solid rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 64px;
}

/* Styling for the title seching of the form <h3> */
#form-title{
    text-align: center;
    width: 302px;
    height: 77px;;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;

    color: #FFFFFF;
}
/* All inputs will use the form-text-field styling */
.form-text-field{
    position: absolute;
    width: 646px;
    height: 54px;
    background: #171720;
    border: 1px solid #20222D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/* #form-background{
    position: center;
    width: 763px;
    height: 780px;
    background: rgba(18, 18, 25, 0.8);
    border: 7px solid rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 64px;
    justify-content: center;
} */


/* The submit button will use the form-button id */
#form-button{
    position: center;
    width: 200px;
    height: 66px;
    background: #2D7FBE;
    box-shadow: inset -6px 0px 3px 3px rgba(0, 4, 6, 0.25);
    border-radius: 70px;
}


/*
position: absolute;
width: 69px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
*/
