.navbar-collapse {
    display: flex;
    justify-content: center;
}

.nav-divider {
    border-right: 1px solid #b1b1b1;
    margin: 0 15px;
}

.custom-navbar {
    background-color: rgba(0, 0, 0, .7);
    border: 2px solid whitesmoke;
    border-radius: 5px;
    height: 50px;
    min-width: 475px;
    margin: 25px auto;
    width: 50%;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #ffffff;
    font-weight: bold;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu {
    background-color: transparent;
    border: none;
    /*backdrop-filter: blur(30px);*/
}

body {
    background-image: url('./images/bg_space.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

#accountIcon {
    display: inline;
}

.nav-link:hover #accountIcon {
    display: none;
}

#hoverIcon {
    display: none;
}

#accountIcon,
#hoverIcon {
    width: 55px;
    height: 55px;
}

.nav-link:hover #hoverIcon {
    display: inline;
}
