:root{
    --cursor-shadow: 5px 1px rgba(0, 0, 0, 0.5), 0px 1px rgba(0, 0, 0, 0.5);
}

body, html, div {
    cursor:none;
}
button:hover, a:hover, nav:hover {
    cursor: none;
}

.cursor-line {
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    z-index: -2;
    transition: background-color 0.1s;
}

.cursor-line.active {
    background-color: rgba(255, 255, 255, 1);
}

.cursor-line-vertical {
    left: 0;
    top: 0;
    width: 1px;
    height: 100vh;
}

.cursor-line-horizontal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 1px;
}


.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: transparent;
    z-index: 9999;
    pointer-events:none;
}

/* BOX CURSOR */
.cursor-dot::before,
.cursor-dot::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.1s;
}
.cursor-dot.inactive::before,
.cursor-dot.inactive::after {
    background-color: rgba(255, 255, 255, 0);
}


/* BOX CURSOR SHADOWS */
.cursor-dot-top-left.shadow-none::before,
.cursor-dot-top-left.shadow-none::after,
.cursor-dot-top-right.shadow-none::after,
.cursor-dot-bottom-left.shadow-none::before {
    box-shadow: none;
}

.cursor-dot-top-left::before {
    top: 10px; /* Adjusted */
    left: 0;
    width: 4px;
    height: 1px;
    box-shadow: 4px 1px rgba(0, 0, 0, 0.5), 0px 1px rgba(0, 0, 0, 0.5);
}
.cursor-dot-top-left::after {
    top: 0;
    left: 10px; /* Adjusted */
    width: 1px;
    height: 4px;
    box-shadow: 1px 0px rgba(0, 0, 0, 0.5), 1px 4px rgba(0, 0, 0, 0.5);
}
.cursor-dot-top-right::after {
    top: 0;
    right: 10px; /* Adjusted */
    width: 1px;
    height: 4px;
    box-shadow: -1px 0px rgba(0, 0, 0, 0.5), -1px 4px rgba(0, 0, 0, 0.5);
}
.cursor-dot-bottom-left::before {
    bottom: 10px; /* Adjusted */
    left: 0;
    width: 4px;
    height: 1px;
    box-shadow: 4px -1px rgba(0, 0, 0, 0.5), 0px -1px rgba(0, 0, 0, 0.5);
}



/* Top-right corner */
.cursor-dot-top-right::before {
    top: 10px; /* Adjusted */
    right: 0;
    width: 5px;
    height: 1px;
}
.cursor-dot-bottom-left::after {
    bottom: 0;
    left: 10px; /* Adjusted */
    width: 1px;
    height: 5px;
}

/* Bottom-right corner */
.cursor-dot-bottom-right::before {
    bottom: 10px; /* Adjusted */
    right: 0;
    width: 5px;
    height: 1px;
}

.cursor-dot-bottom-right::after {
    bottom: 0;
    right: 10px; /* Adjusted */
    width: 1px;
    height: 5px;
}
