@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen&display=swap');

@font-face {
    font-family: 'Cascadia Code';
    src: url('./fonts/CascadiaCode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

div {
    margin: 0 auto;
}
div.container {
    padding-top: 35px;
    padding-bottom: -10px;
    z-index: -2;
}
.navbar-collapse {
    display: flex;
    justify-content: center;
}

.nav-divider {
    border-right: 1px solid #b1b1b1;
    margin: 0 15px;
}

.custom-navbar {
    background-color: rgba(0, 0, 0, .7);
    border: 2px solid whitesmoke;
    border-radius: 5px;
    height: 50px;
    min-width: 475px;
    margin: 25px auto;
    width: 50%;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #ffffff;
    font-weight: bold;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu {
    background-color: transparent;
    border: none;
    /*backdrop-filter: blur(30px);*/
}

body {
    /* Existing styles */
    /* background-image: url('../images/demo/testdots.png'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* background: rgb(30, 36, 53) !important; */
    background: radial-gradient(ellipse at bottom, #20172e 20%, #090A0F 100%) !important;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Cascadia Code' !important;
    overflow-x: hidden;
    overflow-y: auto;
}

#accountIcon {
    display: inline;
}

.nav-link:hover #accountIcon {
    display: none;
}

#hoverIcon {
    display: none;
}

#accountIcon,
#hoverIcon {
    width: 55px;
    height: 55px;
}

.nav-link:hover #hoverIcon {
    display: inline;
}

/* STYLING FOR COMPONENTS */

.fab-container {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.form-background{
    position: absolute;
    width: 578px;
    height: 777px;
    left: 671px;
    top: 151px;
    background: rgba(18, 18, 25, 0.8) !important;
    backdrop-filter: blur(10px);
    border-radius: 64px;
}


input {
    width: 513.76px;
    height: 42.95px;
    left: 703.43px;
    top: 345.85px;

    background: linear-gradient(0deg, #212129cc, #212129cc), #212129cc !important;
    border-radius: 15px !important;
    /* border: 2px solid #20222D !important; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 15px;
    margin-bottom: 20px;
    color:white;
    /* margin:0px 20px 0px 20px; */
}
input, input:focus, .select-field, .select-field:focus {
    /* your existing styles */
    color: white !important; /* ensures text is white in normal and focus states */

}
input:focus, .select-field:focus{
    border: 2px solid rgb(255, 255, 255)!important;
}

input:hover{
    border: 2px solid rgba(63, 32, 73, 0.79)!important;
}

.form-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.329) !important; /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blur the background */
    border-radius: 15px;
    border: 4px solid rgba(255, 255, 255, 0.2);
}

.glass-dialog {
    min-width: 400px;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: transparent !important;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2) !important;
}

.form-control{
    border: none;
    color: white;
    width: 93%;
    background-color: transparent !important;
}

.embedform{
    background: none !important;
    background-color: transparent !important;
    border: none !important;
    backdrop-filter: none !important;
}

.select-field{
    width: 93%;
    height: 42.95px;
    left: 703.43px;
    top: 345.85px;
    background: linear-gradient(0deg, #212129cc, #212129cc), #212129cc !important;
    border: 1px solid #20222D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 20px;
    color: #6b747c !important;
    -webkit-appearance: none; /* This will remove the default dropdown arrow in Chrome */
    -moz-appearance: none; /* This will remove the default dropdown arrow in Firefox */
    appearance: none; /* This is a modern approach to remove the default dropdown arrow across all browsers */
    padding: 5px; /* Add some padding for the content */
    /* Add your own custom dropdown arrow (optional) */
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" viewBox="0 0 140 140" width="50" height="50" xmlns="http://www.w3.org/2000/svg"><path d="M35 55l35 35 35-35z"/></svg>');
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0; /* Position the custom dropdown arrow */
    background-size: .65em auto, 100%;
}
form {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-items: flex-start;
}
.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    height: 300px;
    margin-top: 25px;
}



.card-content img {
    max-width: 95%;
    max-height: 200px;
    border: 1px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    object-fit: contain;
    margin: 0px 5px 0px 5px !important;
}


.create-button {
    color: rgba(255, 255, 255, 0.377);
    /* border: 2px solid rgba(255, 255, 255, 0.377); */
    border: none;
    background: linear-gradient(360deg, rgba(63, 32, 73, 0.79) 9.62%, rgba(58, 31, 71, 0.753758) 16.67%, rgba(28, 20, 51, 0.4819) 69.56%, rgba(32, 36, 73, 0) 122.44%), #2D7FBE;
    box-shadow: inset -6px 0px 3px 3px rgba(0, 4, 6, 0.25);
    border-radius: 70px;
}

.create-button:hover{
    border: none;
    color: white;
}

.delete-icon{
    padding: 0px !important;
    color: rgba(255, 255, 255,0.55) !important;
    /* border: 1px solid black !important; */
}

.delete-icon:hover{
    color: rgba(255, 0, 0, 0.65) !important;
}

#missing-ships{
    justify-content: center;
    text-align: center;
}

#table {
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#tableTitle {
    background-color: rgba(141, 34, 130, 0.3);
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    /*backdrop-filter: blur(30px);*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#tableTitleAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-dialog {
    min-width: 400px;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: transparent !important;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.ship-name {
    color: #ffffff;
    text-align: left;
    font: 400 14px 'Cascadia Code', sans-serif;
    text-shadow:1px 1px 2px rgba(0,0,0,0.65);
}
.year, .build {
    color: rgba(255,255,255, 0.5);
    text-align: left;
    font: 400 12px 'Cascadia Code', sans-serif;
}
.ship-price {
    color: #e67b02;
    text-align: left;
    font: 400 13px 'Cascadia Code', sans-serif;
    text-shadow:1px 1px 2px rgba(0,0,0,0.65);
}
.picture-box {
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: 141px;
    height: 117px;
}
