@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/violet.css';
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen&display=swap');

@font-face {
  font-family: 'Cascadia Code';
  src: url('./fonts/CascadiaCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  cursor:none !important;
}
/* reset */
button,
p {
  all: unset;
}
div.ViewportPosition div.container {
  z-index: 1;
}

ul.List.one {
  z-index: 1;
}

div.tagline {
  text-align:left;
  align-items:flex-start;
  color: rgba(255,255,255,0.55);
  font-size: 12px;
}
.iconify {
  text-align: center;
  align-items: center;
}
a, .icon {
  text-decoration: none;
  color: whitesmoke;
}

.icon:hover {
  color: whitesmoke;
}

.icon {
  padding-bottom:5px;
}

div.info-menu {
  text-align: center;
}

.NavigationMenuRoot {
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 1;
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  /* background-color: rgb(24, 26, 27); */
  /* background-color: rgb(12, 13, 14); */
  padding: 4px 6px;
  border-radius: 6px;
  list-style: none;
  /* box-shadow: 0 2px 10px var(--blackA7); */
  margin: 0;
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 30px;
}
.NavigationMenuTrigger:focus,
.NavigationMenuLink:focus {
  box-shadow: 0 0 0 2px #2f3335;
}
.NavigationMenuTrigger:hover,
.NavigationMenuLink:hover {
  /* background-color: var(--violet3); */
  background-color: rgb(12, 13, 14);
}

.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.NavigationMenuLink {
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}

.NavigationMenuContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.NavigationMenuContent[data-motion='from-start'] {
  animation-name: enterFromLeft;
}
.NavigationMenuContent[data-motion='from-end'] {
  animation-name: enterFromRight;
}
.NavigationMenuContent[data-motion='to-start'] {
  animation-name: exitToLeft;
}
.NavigationMenuContent[data-motion='to-end'] {
  animation-name: exitToRight;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}
.NavigationMenuIndicator[data-state='visible'] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state='hidden'] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  /* background-color: white; */
  background-color: rgb(24, 26, 27);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
}
.NavigationMenuViewport[data-state='open'] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state='closed'] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.List {
  display: grid;
  padding: 16px 16px;
  margin: 0;
  column-gap: 5px;
  list-style: none;
}
@media only screen and (min-width: 600px) {
  .List.one {
    width: 550px;
    grid-template-columns: 0.75fr 1fr;
    z-index: 1;
    position: relative;
  }
  .List.two {
    text-align: center;
    width: 470px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    padding: 24px 16px;
    z-index: 1;
    position: relative;
  }
  .List.three {
    text-align: center;
    width: 180px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
  }
}

li.nav-list-item {
  margin-left: 18px;
  margin-top: 4px;
  text-align:left;
}

p.ListItemHeading {
  margin-left: 5px;
  margin-top: 4px;
}

div.info-menu, div.ListHeading {
  display: flex;
  align-items: center;
  margin: 0;
}
div.ListHeading {
  justify-content: center;
}

.ListItemLink {
  display: block;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1;
}
.ListItemLink:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}
.ListItemLink:hover {
  /* background-color: var(--mauve3); */
  background-color: #1f2123;
}

.ListItemHeading {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0px;
  /* color: var(--violet12); */
  color: rgb(226, 223, 219);
}

.ListItemText {
  color: var(--mauve11);
  line-height: 1.4;
  font-weight: initial;
  font-size:14px;
}


.Callout {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(135deg, var(--purple9) 0%, var(--indigo9) 100%); */
  background: url('../images/space_backgt.png');
  background-size: cover;
  border-radius: 6px;
  padding: 20px 10px;
  text-decoration: none;
  outline: none;
  user-select: none;
}
.Callout:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}
.Callout:hover {
  color: whitesmoke;
}

.Callout img {
  filter: grayscale(100%);
  transition: 0.55s;
  opacity:85%;
}
.Callout img:hover {
  filter: grayscale(20%);
  animation: pulse 0.7s infinite alternate-reverse;
  transition: 0.55s;
  opacity:92%;
}

@keyframes pulse {
  0% {
    filter: grayscale(0%);
    opacity: 100%;
  }
  100% {
    filter: grayscale(75%);
    opacity:95%;
  }
}

.CalloutHeading {
  color: white;
  font-size: 18px;
  font-weight: 500;
  /* line-height: 1.2; */
  margin-top: 0;
  margin-bottom: 0;
}

.CalloutText {
  /* color: var(--mauve4); */
  color: #797878;
  font-size: 14px;
  text-align:start;
}

p.CalloutText {
  font-size: 12px;
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

.CaretDown {
  position: relative;
  /* color: var(--violet10); */
  top: 1px;
  transition: transform 250ms ease;
}
[data-state='open'] > .CaretDown {
  transform: rotate(-180deg);
}

.Arrow {
  position: relative;
  top: 70%;
  /* background-color: white; */
  background-color: rgb(24, 26, 27);
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

.line-4{
  margin-top: 6px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 95px;
  padding: 20px;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
