nav {
	padding: 0px;
	margin: 0px;
}

nav#link-effect.link-effect {
	margin: -14px;
}

div.ListHeading {
	margin-bottom: 12px;
}

.link-effect a {
	color: #797878;
	margin: 0;
	padding: 9px 11px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	transition: .3s ease-out;
}

.link-effect a span::before {
	width: 5px;
	height: 5px;
	background: transparent;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	/* border-top: 2px solid white;
	border-left: 2px solid white; */
	border-top: 2px solid rgb(48, 52, 54);
	border-left: 2px solid rgb(48, 52, 54);
	transition: .3s;
	opacity: 0;
}

.link-effect a span::after {
	width: 5px;
	height: 5px;
	background: transparent;
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	/* border-right: 2px solid white;
	border-bottom: 2px solid white; */
	border-right: 2px solid rgb(48, 52, 54);
	border-bottom: 2px solid rgb(48, 52, 54);
	transition: .3s;
	opacity: 0;
}

.link-effect a::before {
	width: 5px;
	height: 5px;
	background: transparent;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	/* border-right: 2px solid white;
	border-top: 2px solid white; */
	border-right: 2px solid rgb(48, 52, 54);
	border-top: 2px solid rgb(48, 52, 54);
	transition: .3s;
	opacity: 0;
}

.link-effect a::after {
	width: 5px;
	height: 5px;
	background: transparent;
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	/* border-left: 2px solid white;
	border-bottom: 2px solid white; */
	border-left: 2px solid rgb(48, 52, 54);
	border-bottom: 2px solid rgb(48, 52, 54);
	transition: .3s;
	opacity: 0;
}

.link-effect a:hover {
	color: white;
	cursor: none;
}

.link-effect a:hover::before {
	opacity: 1;
	right: 5px;
	top: 5px;
}

.link-effect a:hover::after {
	opacity: 1;
	left: 5px;
	bottom: 5px;
}

.link-effect a:hover span::before {
	opacity: 1;
	left: 5px;
	top: 5px;
}

.link-effect a:hover span::after {
	opacity: 1;
	right: 5px;
	bottom: 5px;
}
