@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    z-index: 0;
}
div.cards {
margin: 25px auto;
max-width: 960px;
text-align: center;
z-index: 0;
}
div.card {
background: rgba(255,255,255,1);
display: inline-block;
margin: 8px;
max-width: 300px;
perspective: 1000;
position: relative;
text-align: left;
transition: all 0.3s 0s ease-in;
width: 220px;
height: 200px;
z-index: 0;
box-shadow: 2px 2px rgba(0,0,0,0.55);
}
div.card img {
max-width: 300px;
object-fit: contain;
z-index: 0;
}
div.card img:hover {
opacity: 75%;
cursor:crosshair;
z-index: 0;
}
div.card .card__image-holder {
background: rgba(0, 0, 0, 0.1);
height: 0;
padding-bottom: 75%;
z-index: 0;
}
div.card div.card-title {
background: rgba(255,255,255,0.93);
padding-top: 5px;
text-align: center;
position: relative;
z-index: 0;
font-size: 14px;
color:rgba(0, 0, 0, 0.8);
}
div.card div.card-title a.toggle-info {
border-radius: 32px;
height: 32px;
padding: 0;
position: absolute;
right: 15px;
top: 10px;
width: 32px;
z-index: 0;
}

div.card div.card-title a.toggle-info span {
background: rgba(255,255,255,0.93);
display: block;
height: 2px;
position: absolute;
top: 14px;
transition: all 0.15s 0s ease-out;
width: 13px;
z-index: 0;
}
div.card div.card-title a.toggle-info span.left {
right: 13px;
bottom: 1px;
transform: rotate(45deg);
z-index: 0;
}
div.card div.card-title a.toggle-info span.right {
left: 13px;
bottom: 1px;
transform: rotate(-45deg);
z-index: 0;
}
div.card div.card-title h2 {
font-size: 24px;
font-weight: 700;
letter-spacing: -0.05em;
margin: 0;
padding-top: 4px;
padding-left: 10px;
z-index: 0;
}
div.card div.card-title h2 small {
display: block;
font-size: 18px;
font-weight: 600;
letter-spacing: -0.025em;
z-index: 0;
}
div.card div.card-description {
padding: 10px 15px 10px;
position: relative;
font-weight: 600;
font-size: 14px;
color: black;
z-index: 0;
}
div.card div.card-actions {
box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
padding: 10px 15px 20px;
text-align: center;
z-index: 0;
}

div.cards.showing div.card {
cursor: pointer;
opacity: 0.4;
transform: scale(0.88);
z-index: 0;
}
.no-touch div.cards.showing div.card:hover {
opacity: 0.94;
transform: scale(0.92);
z-index: 0;
}

/* Active Card */
div.card.show {
opacity: 1 !important;
transform: scale(1) !important;
z-index: 0;
}

/* Inactive Cards */
div.card.show ~ div.card {
opacity: 0.1;
z-index: 0;
}
div.card.show div.card-title a.toggle-info {
background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
top: 15px;
z-index: 0;
}
div.card.show div.card-title a.toggle-info span.left {
right: 9px;
z-index: 0;
}
div.card.show div.card-title a.toggle-info span.right {
left: 9px;
z-index: 0;
}
div.card.show div.card-flap {
background: rgba(255,255,255,0.93);
transform: rotateX(0deg);
z-index: 0;
}
div.card.show div.flap1 {
transition: all 0.3s 0s ease-out;
z-index: 0;
}
div.card.show div.flap2 {
transition: all 0.3s 0.2s ease-out;
z-index: 0;
}

.card:hover div {
    opacity: 0.80;
    cursor:crosshair;
    z-index: 0;
}

div.card.show, div.card.showing, div.text-center {
    z-index: 0;
}

svg#Layer_1 {
    z-index: 0;
}
